@model Idea

<div class="bg-secondary pb-4 d-inline-block col-12">
    <div class="navbar navbar-expand-lg bg-dark text-white justify-content-between">
        <a href="/bright_ideas">Bright Ideas</a>
        <a href="/logout" class="offset-7">Log Out</a>
    </div>

    <div class="container col-12 bg-light pt-2 pb-3">
       <h6 class="d-inline-block col-3">@Model.Poster.Username says</h6>
        <div class="d-inline-block col-8">
            <p>@Model.Post</p>
        </div>
    </div>

    <div class="container col-6 bg-light m-5">
        <h4>People who liked this post</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Alias</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(Like p in Model.Likes)
                    {
                        <tr>
                            <td><a href="/users/@p.UserId">@p.User.Username</a></td>
                            <td>@p.User.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>